@import url('//db.onlinewebfonts.com/c/3416b4cfa5dbaadadef21fdc73d347cb?family=Avenir+LT+Pro+36+Light');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}
:root {
    --gray: #232323;
    --yellow: #EDCD1F;
    --dark_gray:#1E2D3B;
    --white:#ffffff;
    --light_gray : #F7F7F7;
    --light_black:#3B3A3A;
    --very_light_gray:#c6c6c6;
    --dark_blue:#3D5975;
    --light_white:##FBF3F3;
    --semi_white:#F7F7F7;

    --ff-primary:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    --ff-logo:"raleway-semibold", "raleway", sans-serif;
    --ff-Roboto:Roboto;
}

html,body{
    font-size: 62.5%;
}
.myslides_img , #clients_img , #about_img , .gallery_img{
/* 
display: block;
max-width: 100%;
min-height: max(10rem, 30vh);
height: auto; 
block-size: auto;
 */
object-fit: cover;
width: 100%;
max-inline-size: 100%;
padding: 2rem;

}

/* * {
    outline: 1px solid red;
  } */

  /* Header */

#header{
display: flex;
align-items: center;
justify-content: flex-end;
background-color: var(--gray);
padding: 0px 4.5rem;
min-height: 5.3rem;
height: 5.3rem;
box-shadow: 0px 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
z-index: 1;
position: fixed;
max-width: 100%;
width: 100%;

/* min-height: auto; */
}
#logo_div{
    position: static;
    min-height: 130%;
    max-width: 28rem;
    width: 28rem;
    height:130%;
    background-color: var(--yellow);
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.logo_img{
    margin-inline-end: 1rem;
    margin-inline-start: 2rem;
}

.logo_heading{
flex: 50%;
margin-inline-start: 1rem;
margin-block-start: 2rem;
}

#logo_h1{
    font-family: var(--ff-logo);
    font-size: 3.7rem;
    line-height: .8;
    letter-spacing: .185rem;
    font-weight: 600;
    color: var(--dark_gray);
}
#logo_h3{
    font-family: var(--ff-primary);
    font-size: 1.8rem;
    letter-spacing: .09rem;
    line-height: 1.8;
    font-weight: 100;
    color: var(--dark_gray);
}
#ul_pc{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    gap: 0 2rem;
    font-family: var(--ff-primary);
    font-size: 1.4rem;
    line-height: 3.7;
    font-weight: 100;
    text-decoration: rgb(237, 205, 31);
    max-width: 62.7rem;
    width: 62.7rem;
}
@media screen and (max-width: 950px) {
    #ul_pc{
        max-width: 42.7rem;
        width: 42.7rem;
    }
  }

a{
    color: var(--white);
    text-decoration: none; 
}
.nav_link:focus , .nav_link:hover, .nav_link.active_link{
    color:var(--yellow);
}

#ABOUT,#PRODUCTS{
    background-color: var(--light_gray);
}

/*  Header */

/*  slideshow  START*/

/* Slideshow container */
.slideshow-container {
    max-width: 100rem;
    position: relative;
    margin: auto;
    width: 100rem;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .myslides_img{
    width: 136.3rem;
    max-width: 136.3rem;
    min-height: 70.9rem;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    max-width: auto;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: var(--gray);
    font-size: 2rem;
    padding: 8rem 12rem;
    position: absolute;
    bottom: 8rem;
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: var(--ff-Roboto);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    min-height: 15px;
    max-width: 15px;
    width: 1.5rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*  slideshow END */

  /* burger menu */
  /* START */
  
  .overlay{
      position: fixed;
      top: 0;
      left: 0;
      max-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, min-height .35s;
      overflow: hidden;
      background: black;
      z-index: -1;
  }
  
  #main-menu {
    display: block;
    min-height: 10rem;
    width: 100%;
    height: 10rem;
    max-width: 100%;
    background: var(--yellow);
    margin: 0px;  
    z-index: 9;
  }
  
  #main-menu  {
    max-width: 800px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
  }
  
  #main-menu li {
    list-style-type: none;
    font-size: 2rem;
  }
  
  #main-menu a {
    color: var(--dark_gray);
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  #main-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input{
    display: none;
  }
  
  #hamburger-menu {
      position: fixed;
      top: 1rem;
      right: 2rem;
      max-width: 3rem;
      width: 3rem;
      height:3rem ;
      min-height: 3rem;
      display: none;
      border: none;
      padding: 0px;
      margin: 0px;
      font-family: 'Cabin', Sans-serif;
      background: linear-gradient(
        to bottom, 
        var(--yellow), var(--yellow)20%, 
        var(--gray) 20%, var(--gray) 40%, 
        var(--yellow)40%, var(--yellow)60%, 
        var(--gray)  60%, var(--gray)  80%, 
        var(--yellow)80%, var(--yellow)100%
      );
  }
  
  #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      right: -25rem;
      max-width: 200px;
      width: 200px;
      height: 100%;
      min-height: 100%;
      background-color:var(--dark_gray);
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }
  
  #hamburger-menu h3 {
    color: var(--white);
    font-size: 2.2rem;
  }
  
  #hamburger-menu #ul_mobile {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color:var(--white);
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    text-decoration: none;
    background-color: var(--yellow);
    max-width: 100%;
    width: 100%;
    display: inline-block;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      right: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }
  
  
  @media screen and (max-width: 768px) {
    #navbar {
      display: none;
    }
    #hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  
  

  /* END */

  /* BASIC */
#BASIC{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.basic_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25rem 0;
} 
.basic_container{
    background-color: var(--light_gray);
    width: 30rem; 
    max-width: 30rem;
    height: 25.4rem;
    min-height: 25.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 0 25rem;
    margin-inline:1rem ;
    padding-bottom: 27.4rem;

}

.basic_container:last-child{
    margin-block: 0 -25rem;
}
.basic_img{
    max-width: 30rem;
    width: 100%;
    min-height: 22.7rem;
    height: 22.7rem;
    object-fit: cover;
}

.basic_h2{
    border-top-color: currentcolor;
    border-top-style: none;
    border-right-color: currentcolor;
    border-right-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    vertical-align: baseline;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    line-height: 2.42rem;
    letter-spacing: 0em;
    pointer-events: auto;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--dark_blue);
    width: 24.4rem;
    height: 24rem;
    font-family: "Avenir-LT-W01_85-Heavy1475544", avenir-lt-w05_35-light, sans-serif;
    margin-block: 2rem;
    margin-inline:1rem ;
}
.basic_p{
    border-top-color: currentcolor;
    border-top-style: none;
    border-right-color: currentcolor;
    border-right-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    vertical-align: baseline;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    line-height: 1.6em;
    letter-spacing: 0em;
    pointer-events: auto;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color:var(--light_black);
    text-align: justify;
    width: 25.3rem;
    max-width: 25.3rem;
    min-height: 12rem;
    height: 12rem;
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
}

/* PRODUCTS */
.products_div{
    margin-block: 5rem 0;
}
.products_div , .PRODUCTS , .products_container , .gallery_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 20rem;
}

.glllery_columns{
    flex: 33rem;
    margin-block: 5rem;
}
.gallery_container{
  max-width: 40rem;
  width: 50rem;
  /* height: 50rem;
  min-height: 50rem; */
}
.gallery_img{
    width: 31.667rem;
    max-width: 31.667rem;
    height: 26.8rem;
    min-height: 26.8rem;
    border-radius: 3rem;
    background-color: var(--white);
    margin-block: 1.5rem;
    mix-blend-mode: darken;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2);
}
  /* CLIENTS */
  #CLIENTS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
  picture{
    margin-bottom: 8rem;
  }
  #clients_img{
    max-width: 97.8rem;
    min-height: 23.1rem;
  }

  /* ABOUT */
  #ABOUT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .heading_2{
    color: var(--dark_gray);
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: 55px;
    line-height: normal;
    vertical-align: baseline;
    letter-spacing: 2.75px;
    margin-block-start: 6rem;
    max-inline-size: min-content;
  }
  .underline{
    max-width: 12rem;
    width: 12rem;
    height: 1rem;
    min-height: 1rem;
    background-color: var(--yellow);
    color: var(--yellow);
    outline: none;
    border: none;
    margin: 1rem;
    margin-bottom: 6rem;
  }
  #about_img{
    border-top-color : currentcolor;
    border-top-style : none;
    border-right-color : currentcolor;
    border-right-style : none;
    border-bottom-color : currentcolor;
    border-bottom-style : none;
    border-left-color : currentcolor;
    border-left-style : none;
    border-image-outset : 0;
    border-image-repeat : stretch;
    border-image-slice : 100%;
    border-image-source : none;
    border-image-width : 1;
    outline-color : currentcolor;
    outline-style : none;
    outline-width : 0px;
    vertical-align : baseline;
    background-color : transparent;
    background-position-x : 0%;
    background-position-y : 0%;
    background-repeat : repeat;
    background-attachment : scroll;
    background-image : none;
    background-size : auto;
    background-origin : padding-box;
    background-clip : border-box;
    object-position : 50% 50%;
    filter : var(--filter-effect-svg-url);
    mask-image : var(--mask-image,none);
    mask-size : var(--mask-size,100% 100%);
    mask-repeat : var(--mask-repeat,no-repeat);
    position : static;
    box-shadow : rgb(0, 0, 0) 0px 0px 0px;
    user-select : none;
    object-fit : cover;
    /* min-height : 36.4rem; */
    max-width : 98rem;
    margin-bottom: 5rem;
  }
  strong{

    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: 21px;
    line-height: 33.6px;
  }
  #about_text{
    border-top-color: currentcolor;
    border-top-style: none;
    border-right-color: currentcolor;
    border-right-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    vertical-align: baseline;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    font-family: futura-lt-w01-light,sans-serif;
    max-width: 90.4rem;
    min-height: 33.6rem;
    font-size: 1.8rem;
    line-height: 3.36rem;
    letter-spacing: 0rem;
    margin-inline: 1rem;
    text-align: justify; 
    -moz-text-align-last: start; 
    text-align-last: start;
  }

  /* CONTACTS */

  #CONTACTS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end:5rem;
    word-wrap: break-word;
  }
  iframe{
    width: 50rem;
    height: 36.5rem;
    max-width: 35rem;
    min-height: 36.5rem; 
    border: 0;
  }

  @media (min-width:47rem) {
    iframe{
        width: 94rem;
        height: 36.5rem;
        max-width: 94rem;
        min-height: 36.5rem;
        border: 0;
      }
      .heading_2{
        max-inline-size: max-content;
      }
      .basic_div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        padding: 0 5rem;
        margin-block: 1rem;
        margin-inline: 15rem;
        gap: 1rem;
    }
    .basic_container{
        background-color: var(--light_gray);
        width: 30rem; 
        max-width: 30rem;
        height: 25.4rem;
        min-height: 25.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 5rem 0;
        margin-inline:1rem ;
        padding-bottom: 25.4rem;
    }
    .basic_container:last-child{
        margin-block: 0 -5rem;
    }
    .basic_underline{
        margin-block: 0 20rem;
    }
    #about_text{
      border-top-color: currentcolor;
      border-top-style: none;
      border-right-color: currentcolor;
      border-right-style: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-left-color: currentcolor;
      border-left-style: none;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      outline-color: currentcolor;
      outline-style: none;
      outline-width: 0px;
      vertical-align: baseline;
      background-color: transparent;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-image: none;
      background-size: auto;
      background-origin: padding-box;
      background-clip: border-box;
      font-family: futura-lt-w01-light,sans-serif;
      max-width: 90.4rem;
      min-height: 33.6rem;
      font-size: 1.8rem;
      line-height: 3.36rem;
      letter-spacing: .0046rem;
      margin-inline: 5rem;
      text-align: justify; 
      -moz-text-align-last: justify; 
      text-align-last: justify;
    }

    .gallery{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-inline: 20rem;
        gap: 1.5rem;
    }
    .form-control{
      max-width:max(35rem,42.2rem);
      width:max(35rem,42.2rem);
    }
  }
  .contacts_heading{
    border-top-color : currentcolor;
    border-top-style : none;
    border-right-color : currentcolor;
    border-right-style : none;
    border-bottom-color : currentcolor;
    border-bottom-style : none;
    border-left-color : currentcolor;
    border-left-style : none;
    border-image-outset : 0;
    border-image-repeat : stretch;
    border-image-slice : 100%;
    border-image-source : none;
    border-image-width : 1;
    outline-color : currentcolor;
    outline-style : none;
    outline-width : 0px;
    vertical-align : baseline;
    background-color : transparent;
    background-position-x : 0%;
    background-position-y : 0%;
    background-repeat : repeat;
    background-attachment : scroll;
    background-image : none;
    background-size : auto;
    background-origin : padding-box;
    background-clip : border-box;
    line-height : 0.9em;
    letter-spacing : 0em;
    pointer-events : auto;
    font-size : 2.5rem;
    color : var(--dark_gray);

    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: 2.5rem;
    line-height: 2.25rem;
    /* margin-block-start: 6rem; */
    margin-block: 2.7rem;
  }
  .contacts_form{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0 8rem;
    margin-block: 5rem;
    word-wrap: break-word;
    /* margin-inline-start: 15rem;
    margin-inline-end: 15rem; */
  }
  .form-control{
    color: var(--dark_blue);
    background-color: var(--semi_white);
    outline: var(--dark_blue);
    border: var(--dark_blue);
    /* width: max(25rem,42.2rem); */
    height: 3rem;
    /* max-width: max(35rem,42.2rem); */
    min-height: 3rem;
    text-indent: 1.5rem;
  }
  .textarea{
    max-width: max(35rem,42.2rem);
    min-height: 12.6rem; 
    /* width: 42.2rem; */
    height: 12.6rem;
    resize: none;
    margin-block-end:5rem;
  }
  .form-control:hover{
    background-color: var(--very_light_gray);
  }
  button{
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: 1.5rem;
    line-height: 2.1rem;
    max-width: 14.9rem;
    min-height: 4rem;
    width: 14.9rem;
    height: 4rem;
    outline: none;
    border: none;
    color: var(--yellow);
    background-color: var(--light_black);
    float: right;
  }
  button:hover{
    color: var(--light_black);
    background-color: var(--yellow);
    transition-duration: 1s;
  }
 .info  , .phone{
    max-width: 25rem;
    width: 50rem;
    margin-inline: 5rem; 
    margin-block-end: 1rem;
    margin-inline-start: 10rem;
  }
  
  #underline{
    max-width: 6.4rem;
    min-height: 1rem;
    margin-block-end: 5rem;
  }
  .contacts_div{
    margin-block: 1rem;
  }
  .contacts_paragraph {
    max-width: 42rem;
    max-inline-size: 33rem;
  }
  .contacts_label{
    margin-block: 1rem;
    padding: 1rem;
  }
  .contacts_paragraph , .contacts_paragraph:active , .contacts_paragraph:focus{
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
    font-size: 1.7rem;
    line-height: 2.55rem;
    color: var(--light_black);
  }


  /* FOOTER */

  #footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--ff-primary);
    font-size: 14px;
    font-weight: 400;
    color:var(--light_black);
  }

  #footer_SVG{
    max-width: 3rem;
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    margin-block: 2rem;
  }