@font-face {
    font-display: swap;
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v9/5h1aiZUrOngCibe4TkHLQka4BU4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
*,*::before,*::after{
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
    --gray: #232323;
    --yellow: #EDCD1F;
    --dark_gray:#1E2D3B;
    --white:#ffffff;
    --light_gray : #F7F7F7;
    --light_black:#3B3A3A;
    --very_light_gray:#c6c6c6;
    --dark_blue:#3D5975;
    --light_white:##FBF3F3;
    --semi_white:#F7F7F7;
    --semi-transparent:#3B3A3A78;
    --ff-primary:avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
    --ff-logo:"raleway-semibold", "raleway", sans-serif;
    --ff-Roboto:Roboto;
    --fs-stand : clamp( 1rem, 5vw, 80vmax);
    --fs-xl:5.6rem;
    --fs-600:2rem;
    --fs-400:1.125rem;
    --fs-xxl:3rem;
}
html,body{
    font-size: 62.5%;
    overflow-x: hidden;
}
#SERVICES{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, min-height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}
#main-menu {
  display: block;
  min-height: 10rem;
  width: 100%;
  height: 10rem;
  max-width: 100%;
  background: var(--yellow);
  margin: 0px;  
  z-index: 9;
}
#hamburger-menu  {
  max-width: 800px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}
#hamburger-menu  li {
  list-style-type: none;
  font-size: 2rem;
}
#hamburger-menu  a {
  color: var(--dark_gray);
  font-size: clamp( .25rem, 1.5vw, 80vmax);
  text-decoration: none;
}
#hamburger-menu  a:hover {
  text-decoration: underline;
}
#hamburger-input{
  display: none;
}
#hamburger-menu {
    position: fixed;
    top: 1rem;
    right: 2rem;
    max-width: 3rem;
    width: 3rem;
    height:3rem ;
    min-height: 3rem;
    display: none;
    border: none;
    padding: 0px;
    margin: 8px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      var(--yellow), var(--yellow)20%, 
      var(--gray) 20%, var(--gray) 40%, 
      var(--yellow)40%, var(--yellow)60%, 
      var(--gray)  60%, var(--gray)  80%, 
      var(--yellow)80%, var(--yellow)100%
    );
}
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -25rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color:var(--yellow);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}
#hamburger-menu h3 {
  color: var(--white);
  font-size: 2.2rem;
}
#hamburger-menu #ul_mobile {
  padding-left: 0px;
  margin-block: 10rem;
margin-inline: 10rem;
}
#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
  margin-block: 2rem;
  text-align: center;
}
#hamburger-menu a {
  color:var(--white);
  font-size: clamp(1.3rem , 3.3rem, 80vmin);
  text-decoration: none;
}
#hamburger-menu a:hover {
  text-decoration: none;
  background-color: var(--dark_gray);
  max-width: 50%;
  width: 100%;
  padding: 1rem;
  margin: -1rem;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
  visibility: visible;
  opacity: 0.5;
} 
.basic_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20rem 0;
    margin-block:0  6.5rem;
} 
.basic_container{
    background-color: var(--light_gray);
    width:  clamp(20rem , 30rem , 80vmax);
    max-width: clamp(20rem , 30rem , 80vmax);
    min-height: clamp(20rem , 25.4rem , 80vmax);
    height: clamp(20rem , 25.4rem , 80vmax);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 0 25rem;
    margin-inline:1rem ;
    padding-bottom: 27.4rem;

}

.basic_container:last-child{
    margin-block: 0 -25rem;
}
.basic_picture{
  margin-block: 0 10rem;
}

.basic_img{
    max-width: 30rem;
    width: 100%;
    min-height: 22.7rem;
    height: 22.7rem;
    object-fit: cover;
    margin-bottom: -8rem;
}

.basic_h2{
    border-top-color: currentcolor;
    border-top-style: none;
    border-right-color: currentcolor;
    border-right-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    vertical-align: baseline;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    line-height: 2.42rem;
    letter-spacing: 0em;
    pointer-events: auto;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--dark_blue);
    width: 24.4rem;
    height: 24rem;
    font-family: "Avenir-LT-W01_85-Heavy1475544", avenir-lt-w05_35-light, sans-serif;
    margin-block: 2rem;
    margin-inline:1rem ;
}
.basic_p{
    border-top-color: currentcolor;
    border-top-style: none;
    border-right-color: currentcolor;
    border-right-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    vertical-align: baseline;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    line-height: 1.6em;
    letter-spacing: 0em;
    pointer-events: auto;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color:var(--light_black);
    text-align: justify;
    width: 25.3rem;
    max-width: 25.3rem;
    min-height: 12rem;
    height: 12rem;
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
}
.products_div{
    margin-block: 5rem 0;
}
.products_container{
  overflow: visible;
}
.products_div , .PRODUCTS , .products_container , .gallery_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circular_carousel{
  position:relative;
  height: 12.5rem;
  perspective: 14rem;
  list-style: none;
  cursor: hand;
}
.carousel_li{
  position: absolute;
  display: block;
  top: calc(50% - 15rem);
  left: calc(50% - 10rem);
  height: 10rem;
  width: 20rem;
}
.products_img{
    width: 100%;
    height: auto;
    cursor: pointer;
    mix-blend-mode: darken;
  }
   .products{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-inline: 20rem;
      margin-block: 5rem 10rem;
      mix-blend-mode: multiply;
  }
  .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 1rem 1fr;
    width: 90vw;
  }
  .gallery_picture{
    width: clamp(calc(100% - 450rem),30rem, calc(100% - 1rem));
    margin-block: 1rem;
    margin-inline: 2rem;
    max-width: calc(100% - 3rem);
    min-height: clamp(25rem,26.8rem , 75vmax);
    height: 26.8rem;
    margin-block-end: 5rem;
  } 
  .gallery_item{
    display: flex;
    width: clamp(calc(100% - 450rem),30rem, calc(100% - 1rem));
    margin-block: 1rem;
    margin-inline: 2rem;
    max-width: calc(100% - 3rem);
    min-height: clamp(25rem,26.8rem , 75vmax);
    height: 26.8rem;
    object-fit: contain;
    border-radius: 3rem;
    background: rgb(255, 255, 255);
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .5));
  }
  #to_top{
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--yellow);
    fill: var(--white);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all 100.4s ease-in-out 100s;
  }
  .gallery_button{
    border-radius: 5rem;
    height: 5.2rem;
    min-height: 5.2rem;
    width: 20.7rem;
    max-width: 20.7rem;
  
    box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
    padding: 1px;
    background-color: var(--yellow);
    color: var(--dark_gray);
    margin-block: 5rem;
    font-family:var(--ff-logo);
      border-top-color: currentcolor;
      border-top-style: none;
      border-right-color: currentcolor;
      border-right-style: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-left-color: currentcolor;
      border-left-style: none;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      outline-color: currentcolor;
      outline-style: none;
      outline-width: 0px;
      vertical-align: baseline;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-image: none;
      background-size: auto;
      background-origin: padding-box;
      background-clip: border-box;
      overflow-x: hidden;
      overflow-y: hidden;
      text-overflow: ellipsis;
      text-align: center;
      white-space: nowrap;
      min-width: 1.8rem;
      max-width: 100%;
      transition-property: inherit;
      transition-duration: inherit;
      transition-timing-function: inherit;
      transition-delay: inherit;
      letter-spacing: 0.25rem;
      color: rgb(0, 0, 0);
      font-family: raleway-semibold, raleway, sans-serif;
      font-size: 1.6rem;
      display: initial;
  }
  #CLIENTS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
  #clients-picture{
    margin-bottom: 8rem;
  }
  #clients_img{
    width: calc(100% - 8rem);
    height: auto;
    margin-block: 2rem;
    margin-inline: .6rem;
    padding: 0rem;
  }
  #ABOUT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .heading_2{
    color: var(--dark_gray);
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: clamp( calc(300%), 4.099vw, 80vmax);
    line-height: normal;
    vertical-align: baseline;
    letter-spacing: 2.75px;
    margin-block-start: 6rem;
    font-weight: bolder;
  }
  .heading_gallery{
    font-size: clamp( calc(150%), 2.045vw, 40vmax);
  }
  .underline{
    max-width: clamp(10rem , 10vw , 80vmax);
    width: 100%;
    height: 100%;
    min-height: clamp(1rem , 1vw , 100vmin);
    background-color: var(--yellow);
    color: var(--yellow);
    outline: none;
    border: none;
    margin: 1rem;
    margin-bottom: 6rem;
  }
  .underline_gallery{
    max-width: clamp(5rem , 5vw , 40vmax);
    width: 100%;
    height: 100%;
    min-height: clamp(.5rem , .5vw , 50vmin);
  }
  #about_img{
    border-top-color : currentcolor;
    border-top-style : none;
    border-right-color : currentcolor;
    border-right-style : none;
    border-bottom-color : currentcolor;
    border-bottom-style : none;
    border-left-color : currentcolor;
    border-left-style : none;
    border-image-outset : 0;
    border-image-repeat : stretch;
    border-image-slice : 100%;
    border-image-source : none;
    border-image-width : 1;
    outline-color : currentcolor;
    outline-style : none;
    outline-width : 0px;
    vertical-align : baseline;
    background-color : transparent;
    background-position-x : 0%;
    background-position-y : 0%;
    background-repeat : repeat;
    background-attachment : scroll;
    background-image : none;
    background-size : auto;
    background-origin : padding-box;
    background-clip : border-box;
    object-position : 50% 50%;
    position : static;
    box-shadow : rgb(0, 0, 0) 0px 0px 0px;
    user-select: none;
    margin-bottom: 5rem;
    margin-inline: 0rem;
  }
  strong{

    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: 21px;
    line-height: 33.6px;
  }
  #about_text{
    border-top-color: currentcolor;
    border-top-style: none;
    border-right-color: currentcolor;
    border-right-style: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    vertical-align: baseline;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    font-family: futura-lt-w01-light,sans-serif;
    max-width:clamp(100vw,100% - 9.6rem , 100vw - 10rem) ;
    width: 100%;
    height: 100%;
    min-height: calc(100% - 66.4rem);
    font-size: 1.8rem;
    line-height: 3.36rem;
    letter-spacing: 0rem;
    margin-inline: 1rem;
    text-align: justify; 
    -moz-text-align-last: start; 
    text-align-last: start;
  }
  #CONTACTS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end:5rem;
    word-wrap: break-word;
  }
  iframe{
    width: 100%;
    height: 100%;
    max-width:calc(100% - 35rem);
    min-height: 40rem;
    border: 0;
    margin-inline: 2rem;
  }

  .contacts_para{
    font-size: 3rem;
    margin-inline: 3rem;
    margin-block: 5rem;
    font-weight: 300;
    font-family: system-ui;
  }
  .contacts_heading{
    border-top-color : currentcolor;
    border-top-style : none;
    border-right-color : currentcolor;
    border-right-style : none;
    border-bottom-color : currentcolor;
    border-bottom-style : none;
    border-left-color : currentcolor;
    border-left-style : none;
    border-image-outset : 0;
    border-image-repeat : stretch;
    border-image-slice : 100%;
    border-image-source : none;
    border-image-width : 1;
    outline-color : currentcolor;
    outline-style : none;
    outline-width : 0px;
    vertical-align : baseline;
    background-color : transparent;
    background-position-x : 0%;
    background-position-y : 0%;
    background-repeat : repeat;
    background-attachment : scroll;
    background-image : none;
    background-size : auto;
    background-origin : padding-box;
    background-clip : border-box;
    line-height : 0.9em;
    letter-spacing : 0em;
    pointer-events : auto;
    font-size : 2.5rem;
    color : #87750d;
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: 2.5rem;
    line-height: 2.25rem;
    margin-block: 2.7rem;
  }
  .contacts_form{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0 8rem;
    margin-block: 5rem;
    word-wrap: break-word;
  }
  button{
    font-family: avenir-lt-w01_85-heavy1475544, avenir-lt-w05_85-heavy, sans-serif;
    font-size: 1.5rem;
    line-height: 2.1rem;
    max-width: 14.9rem;
    min-height: 4rem;
    width: 14.9rem;
    height: 4rem;
    outline: none;
    border: none;
    color: var(--yellow);
    background-color: var(--light_black);
    float: right;
  }
  .info  , .phone{
    max-width: calc(100% - 15rem);
    width: clamp(25rem,35rem,50rem);
    margin-inline: 1rem; 
    margin-block-end: 1rem;
  }
  #underline{
    max-width: 6.4rem;
    min-height: 1rem;
    margin-block-end: 5rem;
  }
  .contacts_paragraph {
    max-width: 42rem;
    max-inline-size: 33rem;
  }
  .contacts_paragraph , .contacts_paragraph:active , .contacts_paragraph:focus{
    font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
    font-size: 1.7rem;
    line-height: 2.55rem;
    color: var(--light_black);
  }
  #footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--ff-primary);
    font-size: 14px;
    font-weight: 400;
    color:var(--light_black);
  }
  #footer_SVG{
    max-width: 3rem;
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    margin-block: 2rem;
  }
  @media (max-width:47rem) {
    :root{
      --fs-xxl:clamp(3rem - 1%,3rem,3rem + 1%);
    }
    #status {
      top: 25%;
    }
  
    .info  , .phone{
      margin-inline: 5rem;
    }
    a.next {
      transform: scale(0.5) scaleX(-1);
      margin-block: -3.6rem;
    }
    a.prev{
      transform: scale(0.5);
    }
    .text{
      font-size: var(--fs-xxl);
      letter-spacing: 0.8rem;
    }
    #logo_h3{
      letter-spacing: 0.39rem;
      margin-block-end: 1rem;
    }
    #logo_div{
      max-width: 100%;
      width: 100%;
    }
    #hamburger-menu{
      background: linear-gradient( to bottom, 
        var(--gray), var(--gray)20%, 
        var(--yellow) 20%, var(--yellow) 40%,
        var(--gray)40%, var(--gray)60%,
        var(--yellow) 60%, var(--yellow) 80%, 
        var(--gray)80%, var(--gray)100% 
        );
    }
    .products_container{
      overflow:hidden;
    }
    
    .carousel_li{
      transform :translateY( 5rem );
    }
  }
  @media (max-width:35rem) {
    .heading_2 {
      font-size: 3rem;
    }
    .heading_gallery{
      font-size: 2rem;
    }
  }
  @media (max-width: 30rem){
    #logo_h1{
      font-size: 2.5rem;
    }
    #logo_h3{
      letter-spacing: 0.09rem;
      font-size: 1rem;
      margin-block-end: 2rem;
    }
    iframe{
      width: 94rem;
      height: 36.5rem;
      max-width: calc(100% - 5rem);
      min-height: calc(100% - 1px);
      border: 0;
    }
  }
  @media screen and (max-width: 950px) {
    #ul_pc{
        max-width: 42.7rem;
        width: 42.7rem;
    }
  }
  @media screen and (max-width: 768px) {
    #navbar {
      display: none;
    }
    #hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    iframe{
      width: 94rem;
      height: 36.5rem;
      max-width: calc(100% - 5rem);
      min-height: calc(100% - 1px);
      border: 0;
    }
    .gallery{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 1px;
      width: 90vw;
    }
  }
  @media (min-width: 720px) {
    .grid-item {
      width: calc(33.333% - 10px);
    }
  }
  @media (min-width: 1020px) {
    .grid-item {
      width: calc(25% - 10px);
    }
  }
  @media (min-width:47rem) {
    :root{
      --fs-xl:2.5rem;
      --fs-600:1rem;
      --fs-400:.5rem;
      --fs-xxl:5rem;
    }
    iframe{
        width: 94rem;
        height: 36.5rem;
        max-width: calc(100% - 35rem);
        min-height: calc(100% - 1px);
        border: 0;
      }
      .heading_2{
        max-inline-size: max-content;
      }
      .basic_div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        padding: 0;
        margin-block: 6.5rem;
        margin-inline: 15rem;
        gap: clamp(.9% , 1rem,50vmax);
    }
    .basic_container{
        background-color: var(--light_gray);
       width:  clamp(20rem , 30rem , 80vmax);
       max-width: clamp(20rem , 30rem , 80vmax);
       min-height: clamp(20rem , 25.4rem , 80vmax);
       height: clamp(20rem , 25.4rem , 80vmax);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 5rem 0;
        margin-inline:1rem ;
        padding-bottom: 30.4rem;
    }
    .basic_container:last-child{
        margin-block: 0 -5rem;
    }
    .basic_underline{
        margin-block: 0 20rem;
    }
    #about_text{
      border-top-color: currentcolor;
      border-top-style: none;
      border-right-color: currentcolor;
      border-right-style: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-left-color: currentcolor;
      border-left-style: none;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      outline-color: currentcolor;
      outline-style: none;
      outline-width: 0px;
      vertical-align: baseline;
      background-color: transparent;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-image: none;
      background-size: auto;
      background-origin: padding-box;
      background-clip: border-box;
      font-family: futura-lt-w01-light,sans-serif;
      max-width: calc(100% - 23rem);
      min-height: 33.6rem;
      font-size: 1.8rem;
      line-height: 3.36rem;
      letter-spacing: .0046rem;
      margin-inline: 5rem;
      text-align: justify; 
      -moz-text-align-last: justify; 
      text-align-last: justify;
    }
    .gallery_columns{
      margin-inline-start: 10rem;
    }
    .form-control{
      max-width:max(35rem,42.2rem);
      width:max(35rem,42.2rem);
    }
    .myslides_img {
      width: 100%;
      object-fit: cover;
      padding: 0;
    }
  }
  @media (min-width:86rem) {
    :root{
      --fs-400:.5rem;
      --fs-600:1rem;
      --fs-xl:2.5rem;
      --fs-48:3rem;
      --fs-51_2:3.2rem;
      --fs-xxl:5rem;
      --fs-xxxl:10rem;
    }
    #header{
      min-height: 8rem;
      height: 8rem;
    }
    #logo_div{
      max-width: 35rem;
      width: 35rem;
    }
    #logo_h1{
      font-size: var(--fs-xxl);
    }
    #logo_h3{
      font-size: var(--fs-xl);
    }
    #ul_pc{
      font-size:var(--fs-xl);
      max-width: 70.7rem;
      width: 70.7rem;
    }
    .mySlides , .slideshow-container{
      height: 100rem;
      min-height: 100rem;
    }
    .text{
      bottom: 30rem;
      font-size: var(--fs-xxxl);
      padding: 6rem 0rem;
      line-height: 12.6rem;
    }
    .basic_h2{
      font-size:var(--fs-51_2) ;
      width: 31rem;
      min-width: 31rem;
      margin-block: -4rem 5rem;
    }
    .basic_p{
      width: 30.3rem;
      max-width: 30.3rem;
      font-size:var(--fs-xl);
    }
    .basic_img{
      margin-bottom: -2rem;
      max-width: 35rem;
      width: 100%;
      min-height: 26.7rem;
      height: 26.7rem;
    }
    .basic_container{
        width: 35rem;
        min-width: 35rem;
        padding-bottom:40.4rem;
    }
    #about_text ,strong{
      font-size: 4.8rem;
      line-height: 7.36rem;
      max-width: calc(100% - 15rem);
    }
    .gallery_button{
      height: 12.2rem;
      min-height: 12.2rem;
      width: 35.7rem;
      max-width:35.7rem ;
      font-size: 3.6rem;
    }
    .bi-chevron-double-down{
      width:5rem;
      height: 5rem;
      margin-block: 1rem;
    }
    #footer{
      font-size: 3.4rem;
    }
    #footer_SVG ,#to_top{
      max-width: 6rem;
      width: 6rem;
      height: 6rem;
      min-height: 6rem;
    }
    .address > h4 , .phone > h4 {
      font-size: 5.2rem;
      color: var(--yellow);
    }
    .phone > p > strong{
      font-size: 3rem;
    }
    .phone > p  , .address > *{
      font-size: 2rem;
    }
    .contacts_para{
      font-size: 4rem;
      margin-block-end: 5rem;
      font-family: futura-lt-w01-light,sans-serif;
    }
    .address > .contacts_paragraph{
      margin-block-end: 2rem;
    }
  }